html {
    margin: 0;
    min-height: 100%;
}

.body {
    margin: 0;
    display: flex;
}

* {
    font-family: 'Roboto', arial;
}

.top,
.copyright {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    flex-shrink: 0;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.intro {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    
}

.intro-text-block {
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 42px;
    min-width: 400px;
}


.intro-awesome {
    font-size: 48px;
    font-weight:bold;
}

.intro-text-block>button {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 6px;
    border-color: #3882f6;
    width: 100px;
    height: 28px;
    font-size: 16px;
}

.intro-image {
    flex: 1;
    max-width: 600px;
}


ul {
    list-style-type: none;
}

.content>h2 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.square {
    border: #3882f6 solid 3px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.cards {
    display: flex;
    justify-content: space-between;
}