html {
    margin: 0;
    min-height: 100%;
}

a {
    text-decoration: none;
    color:#f9faf8;
}

.body {
    margin: 0;
    display: flex;
}

* {
    font-family: 'Roboto', arial;
}

.top,
.copyright {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 300px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: 250px;
    min-width: 146.69px;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    width: 450px;
    min-width: 450px;
}

.intro {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;    
}

.intro-text-block {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 42px;
    width: 450px;
    min-width: 450px;
}


.intro-awesome {
    font-size: 48px;
    font-weight: 900;
}

.intro-text-block>button {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 6px;
    border-color: #3882f6;
    width: 100px;
    height: 28px;
    font-size: 16px;
    cursor:pointer;
}

.intro-image {
    width: 350px;
}


ul {
    list-style-type: none;
}

.content>h2 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.square {
    border: #3882f6 solid 3px;
    border-radius: 10px;
    height: 150px;
}

.cards {
    display: flex;
    justify-content: center;

}

.card {
    width: 150px;
    margin: 0 10px;
    min-width: 150px;
}

.quote-wrap {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #e5e7eb;
    color:  #1f2937;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 800px;
}

.author {
    margin-left: 400px;
    font-weight: bold;
    font-size: 28px;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #3882f6 solid 3px;
    border-radius: 9px;
    background-color: #3882f6;
    margin: 70px 480px;
    padding: 40px 100px;
    min-width: 300px;
}

.signup-text {
    color:#e5e7eb;
}

.call {
    font-size: 18px;
    font-weight: bold;
}

.signup-button {
    background-color: #3882f6;
    border:#e5e7eb solid 3px;
    border-radius: 5px;
    color:#e5e7eb;
    padding: 5px 20px;
    font-weight: bold;
    margin-left: 40px;
    flex-shrink: 0;
    cursor:pointer;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}